<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="<%= process.env.BASE_URL %>favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="<%= process.env.BASE_URL %>favicon.ico" type="image/x-icon" />
  <title>Webpack Configuration</title>

  <script>console.clear();</script>
</head>
<body>
<noscript>
  <strong>
    Подруби JS в браузере, ало
  </strong>
</noscript>
<div id="app"></div>
</body>
</html>